.product{
	padding: 20px 50px;
	display: flex;
	gap: 50px;

	@media screen and (max-width: 1024px){
    	padding: 20px 12px;
	}

	@media screen and (max-width: 768px){
    	flex-direction: column;
	}

	@media screen and (max-width: 600px){
    	padding: 20px 0px;
    	
	}

	.left{
		flex: 1;
		display: flex;
		gap: 20px;

		.slider-wrapper{
			@media screen and (min-width: 1025px){
    			display: none;
			}

			position: relative;
			max-width: 100%;
			margin: 0 auto;

			.slider-nav{
				display: flex;
				position: absolute;
				bottom: 1.5rem;
				left: 50%;
				column-gap: 10px;
				transform: translateX(-50%);
				z-index: 1;

				@media screen and (min-width: 769px) and (max-width: 1024px) {
					bottom: 4rem;
				}

				a{
					width: 8px;
					height: 8px;
					background-color: white;
					column-gap: 10px;
					border-radius: 50%;
					opacity: 0.75;
					transition: opacity ease 250ms;
				}

				a:hover {
					opacity: 1;
				}
			}

			.slider{
				display: flex;
				overflow-x: auto;
				width: auto;
				scroll-snap-type: x mandatory;
				scroll-behavior: smooth;

				@media screen and (max-width: 1024px){
    				height: 40rem;
				}

				@media screen and (max-width: 768px){
    				height: 60rem;
				}

				@media screen and (max-width: 644px){
    				height: 44rem;
				}

				@media screen and (max-width: 425px){
    				height: 34rem;
				}

				img {
					flex: 1 0 100%;
					scroll-snap-align: start;
					object-fit: cover;
					width: 100%;
    				height: auto;
				}
			}
		}



		.images{
			flex: 1;

			@media screen and (max-width: 1024px){
    			display: none;
			}

			img{
				width: 100%;
				height: 150px;
				object-fit: cover;
				cursor: pointer;
				margin-bottom: 10px; 
			}
		}
		.mainImg{
			flex: 5;

			@media screen and (max-width: 1024px){
    			display: none;
			}

			img{
				width: 100%;
				max-height: 800px;
				object-fit: cover;
			}
		}
	}
	.right{
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 30px;

		@media screen and (max-width: 600px){
    		padding: 0px 20px;
    	
		}

		.price{
			font-size: 30px;
			color: #2879fe;
			font-weight: 500;		
		}

		h1{
			font-size: 20px;
		}

		.price {
			font-size: 24px;
		}

		p{
			font-size: 18px;
			font-weight: 300;
			text-align: justify;

			@media screen and (max-width: 768px){
    			font-size: 17px;
			}
		}

		.quantity{
			display: flex;
			align-items: center;
			gap: 10px;

			button{
				width: 50px;
			    height: 50px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    cursor: pointer;
			    border: none;

			    @media screen and (max-width: 768px){
    				width: 40px;
			    	height: 40px;
				}
			}
		}

		.add{
			background-color: #2879fe;
			border: none;
			width: 250px;
			padding: 10px;
			gap: 20px;
			display: flex;
			color: white;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			font-weight: 500;
		}

		.links{
	      display: flex;
	      gap: 20px;

	      .item{
	        display: flex;
	        align-items: center;
	        gap: 10px;
	        color: #2879fe;
	        font-size: 14px;

	        @media screen and (max-width: 768px){
    			font-size: 12px;
			}
	      }
	    }

	    .info{
	      display: flex;
	      flex-direction: column;
	      gap: 10px;
	      color: gray;
	      font-size: 14px;
	      margin-top: 30px;

	      @media screen and (max-width: 768px){
    			font-size: 13px;
			}

	      hr{
	        width: 200px;
	        border: 1px solid rgb(238, 237, 237);
	      }
	    }

	    hr{
	      border: 1px solid rgb(238, 237, 237);
	    }

	}
}